@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

* { scrollbar-width: thin; }

:focus-visible {
  outline: 2px solid #15171A;
  outline-offset: 2px;
  border-radius: 6px;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
input:focus,
textarea:focus {
  outline: none !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}
